ion-content {
  --background: #ffffff;
  padding: 16px;
  form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .cameraIconContainer {
      display: flex;
      justify-content: center;
    .cameraIcon, .galleryIcon{
      width: 70px;
      height: 70px;
      border: 2px solid  #00aff0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
      ion-icon{
        font-size: 2rem;
      }
    }
  }
    label {
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 0.625rem;
      width: 100%;
      box-sizing: border-box;
    }
    .addBtn {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    .custom-button {
      font-size: 1rem;
      --background: #000000;
      --color: white;
      --border-radius: 0.625rem;
      width: 150px;
      height: 40px;
    }
   
  }

 
  
}