<ion-content [fullscreen]="true">
  <div class="header">
   <ion-title class="title">
     Enter your email
     <p class="subTitle">To recieve a reset password link</p>
   </ion-title>
  </div>
  <div>
    <div class="inputFields">
      <ion-item class="ion-margin-horizontal">
        <ion-input class="input" placeholder="Enter your email"></ion-input>
        <ion-icon name="person-outline" class="icon"></ion-icon>
      </ion-item>
    </div>
    <div class="loginBtn">
      <ion-button class="custom-button" [routerLink]="['/login']">Submit</ion-button>
    </div>
  </div>
 </ion-content>
 