ion-content {
    --background:  #f08f5e;
  }
.input{
    font-size: 1rem;
    color: black;
}

.inputFields{
    margin: 2rem 1rem;
}

ion-item{
    margin-bottom: 0.7rem;
    border-radius: 1.5rem;
}

.header{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
    .subTitle{
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    .title{
        margin-bottom: -0.5rem;
        font-size: 1.7rem;
    }


    .loginBtn{
        display: flex;
        justify-content: center;
        margin-top: -1rem;
      }
      .custom-button {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        --background:  #000000;
        --color: white; 
        --border-radius: 1.5rem; 
      }
