.iconAdd {
    background-color: rgba(255, 255, 255, 0.441);
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIcon{
    font-size: 1.5rem !important;
}
ion-item{
    margin-bottom: 3vh;
    ion-thumbnail {
        width: 8rem;
        height: 8rem;
        ion-img {
            border-radius: 10px;
        }
    }
    ion-label, ion-text {
        font-size: 1rem;
        font-weight: 600;
    }
    p{
        font-size: 0.875rem;
        font-weight: normal;
        margin-top: 10px;
    }

}
ion-button {
    ion-icon {
        font-size: 2rem;
    }
}
