<ion-content [fullscreen]="true" color="secondary">
  <form class="container" [formGroup]="loginForm" novalidate>
    <div class="header">
      <ion-title class="title">Sign In</ion-title>
      <p class="subTitle">Sign in to your registered account</p>
    </div>
    <div class="inputFields">

      <ion-item>
        <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline" class="icon"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email']?.touched && this.loginForm.controls?.['email']?.invalid">
        <ion-text *ngIf="errorControl?.['email']?.errors?.['required']" class="credentialRules">
          Email is required
        </ion-text>
        <ion-text *ngIf="errorControl?.['email']?.errors?.['pattern']" class="credentialRules">
          Email should be valid
        </ion-text>
      </div>
      

      <ion-item>
        <ion-input formControlName="password" placeholder="Password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline" class="icon"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['password']?.touched && this.loginForm.controls?.['password']?.invalid">
        <ion-text *ngIf="errorControl?.['password']?.errors?.['required']" class="credentialRules">
          Password is required
        </ion-text>
        <ion-text *ngIf="errorControl?.['password']?.errors?.['pattern']" class="credentialRules">
          Password should be atleast 8 chracter and contain atleast one uppercase , one lowercase , one number and one special chracter
        </ion-text>
      </div>
      
     


    </div>
    <div class="forgotPassword">
      <a [routerLink]="['/reset-password']" style="color: rgb(255, 255, 255)">
        Forgot Password?</a
      >
    </div>
    <div class="loginBtn">
      <ion-button class="custom-button" (click)='loginUser()'
        >Login</ion-button>
        <ion-icon class="fingerPrint" name="finger-print"></ion-icon>
      </div>
  </form>
  <ion-text class="sigup">
    <div class="signupLink">
      <p>
        <a style="color: rgb(0, 0, 0)"
        (click)="loginWithFingerprint()">Don't have an account? </a>
         
        <a [routerLink]="['/signup']" style="color: rgb(255, 255, 255)"
          >Sign up</a
        >
      </p>
    </div>
  </ion-text>
</ion-content>
