.input{
    font-size: 300;
    color: black;
}

ion-item{
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}

.signupLink{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 80%;
    p{
        font-size: 0.9rem;
        text-align: center;
    }
    a{
        text-decoration: none;
        
    }
}
.forgotPassword{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.icon{
    color: #000000;
}

.secondIcon{
    color: red;
}
