.profileImg{
    display: flex;
    justify-content: center;
    
}
.userImg{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    
}

ion-card{
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-card-content{
  margin-top: 1rem;
}


